target/
!.mvn/wrapper/maven-wrapper.jar

## STS ##
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

## IntelliJ IDEA ##
.idea/
*.iws
*.iml
*.ipr

## JRebel ##
rebel.xml

## MAC ##
.DS_Store
.idea/modules.xml
.idea
## 用户配制 ##
src/main/resources/generator/generatorConfig.xml
src/main/resources/application.yaml