<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.mapper.VideoSysCfgMapper">
    <resultMap id="BaseResultMap" type="com.video.entity.VideoSysCfg">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="key" jdbcType="VARCHAR" property="key"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="order_no" jdbcType="INTEGER" property="orderNo"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, `key`, `value`, status, order_no
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"></include>
        from
            video_sys_cfg
        order by
            order_no
    </select>

    <insert id="add" parameterType="com.video.dto.business.VideoSysCfgDTO">
        insert into
            video_sys_cfg(`key`, `value`, status, `order_no`)
        values (#{dto.key}, #{dto.value}, #{dto.status}, #{dto.orderNo})
    </insert>

    <update id="updateById" parameterType="com.video.dto.business.VideoSysCfgDTO">
        update
            video_sys_cfg
        set
            `key` = #{dto.key}, `value` = #{dto.value}, status = #{dto.status}, `order_no` = #{dto.orderNo}
        where
            id = #{dto.id}
    </update>

    <delete id="deleteById">
        delete from
            video_sys_cfg
        where
            `id` = #{id}
    </delete>
</mapper>