<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.mapper.VideoFilterCfgMapper">
    <resultMap id="BaseResultMap" type="com.video.entity.VideoFilterCfg">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="key" jdbcType="VARCHAR" property="key"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="order_no" jdbcType="INTEGER" property="orderNo"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, parent_id, `key`, `value`, order_no, `type`
    </sql>

    <insert id="add" parameterType="com.video.dto.business.VideoFilterCfgDTO">
        insert into
            video_filter_cfg(`parent_id`, `key`, `value`, order_no, `type`)
        values
            (#{dto.parentId}, #{dto.key}, #{dto.value}, #{dto.orderNo}, #{dto.type});
    </insert>

    <update id="updateById" parameterType="com.video.dto.business.VideoFilterCfgDTO">
        update
            video_filter_cfg
        set
            `key` = #{dto.key}, `value` = #{dto.value}, order_no = #{dto.orderNo}, parent_id = #{dto.parentId}
        where
            id = #{dto.id}
    </update>

    <select id="getChildIdByParentId" resultType="java.lang.Long">
        select
            id
        from
            video_filter_cfg
        where
            parent_id = #{id};
    </select>

    <delete id="deleteCfgByIds">
        delete from
            video_filter_cfg
        where
            id in <foreach collection="ids" item="id" open="(" close=")" separator=",">#{id}</foreach>
    </delete>

    <select id="count" parameterType="com.video.dto.business.VideoFilterCfgDTO" resultType="java.lang.Integer">
        select
            count(*)
        from
            video_filter_cfg
        <where>
            <if test="dto.parentId != null and dto.parentId != ''">
                and parent_id = #{dto.parentId}
            </if>
            <if test="dto.key != null and dto.key != ''">
                and `key` like CONCAT('%', #{dto.key} ,'%')
            </if>
            <if test="dto.value != null and dto.value != ''">
                and `value` like CONCAT('%', #{dto.value} ,'%')
            </if>
            <if test="dto.type != null">
                and `type` = #{dto.type}
            </if>
        </where>
    </select>

    <select id="list" parameterType="com.video.dto.business.VideoFilterCfgDTO" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"></include>
        from
            video_filter_cfg
        <where>
            <if test="dto.parentId != null and dto.parentId != ''">
                and parent_id = #{dto.parentId}
            </if>
            <if test="dto.key != null and dto.key != ''">
                and `key` like CONCAT('%', #{dto.key} ,'%')
            </if>
            <if test="dto.value != null and dto.value != ''">
                and `value` like CONCAT('%', #{dto.value} ,'%')
            </if>
            <if test="dto.type != null">
                and `type` = #{dto.type}
            </if>
        </where>
        order by
            parent_id, order_no
        <if test="dto.startIdx != null and dto.pageSize != null">
            limit #{dto.startIdx}, #{dto.pageSize}
        </if>
    </select>

    <select id="selectOptions" resultMap="BaseResultMap">
        <choose>
            <when test="key != null">
                select
                    son.id, son.parent_id, son.`key`, son.`value`, son.order_no, son.`type`
                from
                    video_filter_cfg as `son`
                left join (
                    select id from video_filter_cfg where `key` = #{key}
                ) `parent`
                on
                    son.parent_id = parent.id
                where
                    parent.id is not null
            </when>
            <otherwise>
                select
                    <include refid="Base_Column_List"></include>
                from
                    video_filter_cfg t1
                <where>
                    <if test="parentId != null">
                        and t1.parent_id = #{parentId}
                    </if>
                    <if test="type != null">
                        and t1.type = #{type}
                    </if>
                </where>
            </otherwise>
        </choose>
    </select>

</mapper>