<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.mapper.VideoDownloadLinkMapper">
  <resultMap id="BaseResultMap" type="com.video.entity.VideoDownloadLink">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="video_id" jdbcType="BIGINT" property="videoId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, video_id, name, url, order_no, status
  </sql>

  <insert id="add" parameterType="com.video.dto.business.VideoDownloadLinkDTO">
    insert into video_download_link(video_id, name, url, order_no, status)
    values (#{dto.viedoId},#{dto.name},#{dto.url},#{dto.url},#{dto.orderNo},#{dto.status})
  </insert>

  <update id="update">
    update video_download_link
    set video_id=#{dto.videoId}, name=#{dto.name}, url=#{dto.url},
        order_no=#{dto.orderNo}, status=#{dto.status}
    where id=#{dto.id}
  </update>
  
  <select id="list">
    select
    <include refid="Base_Column_List"></include>
    from video_download_link
    <where>
      <if test="dto.videoId!=null and dto.videoId!='' ">
        and video_id=#{dto.videoId}
      </if>
      <if test="dto.name!=null and dto.name!='' ">
        and name=#{dto.name}
      </if>
      <if test="dto.url!=null and dto.url!='' ">
        and url=#{dto.url}
      </if>
      <if test="dto.orderNo!=null and dto.orderNo!='' ">
        and order_no=#{dto.orderNo}
      </if>
      <if test="dto.status!=null and dto.status!='' ">
        and status=#{dto.status}
      </if>
    </where>
    order by
    video_id desc
    <if test="dto.startIdx != null and dto.pageSize != null">
      limit #{dto.startIdx}, #{dto.pageSize}
    </if>
  </select>

  <select id="count">
    select count(*) from video_download_link
    <where>
      <if test="dto.videoId!=null and dto.videoId!='' ">
        and video_id=#{dto.videoId}
      </if>
      <if test="dto.name!=null and dto.name!='' ">
        and name=#{dto.name}
      </if>
      <if test="dto.url!=null and dto.url!='' ">
        and url=#{dto.url}
      </if>
      <if test="dto.orderNo!=null and dto.orderNo!='' ">
        and order_no=#{dto.orderNo}
      </if>
      <if test="dto.status!=null and dto.status!='' ">
        and status=#{dto.status}
      </if>
    </where>
    <if test="dto.startIdx != null and dto.pageSize != null">
      limit #{dto.startIdx}, #{dto.pageSize}
    </if>
  </select>

  <delete id="delete">
    delete from video_download_link where id = #{id};
  </delete>

  <delete id="deleteBatch">
    delete from
    <where>
      <foreach collection="ids" open="id in(" close=")" item="id" separator=",">
        #{id}
      </foreach>
    </where>
  </delete>
</mapper>