<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.mapper.VideoPictureMapper">
  <resultMap id="BaseResultMap" type="com.video.entity.VideoPicture">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="video_id" jdbcType="BIGINT" property="videoId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="thumbnails_url" jdbcType="VARCHAR" property="thumbnailsUrl" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, video_id, name, url, thumbnails_url, order_no, create_time, update_time
  </sql>

  <insert id="add" parameterType="com.video.dto.business.VideoPictureDTO">
    insert into video_picture(video_id, name, url, thumbnails_url, order_no)
    values(#{dto.videoId}, #{dto.name}, #{dto.url}, #{dto.thumbnailsUrl}, #{dto.orderNo})
  </insert>

  <update id="update">
    update video_picture
    set video_id=#{dto.videoId}, name=#{dto.name}, url=#{dto.url}, thumbnails_url=#{dto.thumbnailsUrl},
        order_no=#{dto.orderNo}
    where id=#{dto.id}
  </update>


  <select id="list" resultMap="BaseResultMap" parameterType="com.video.dto.business.VideoPictureDTO">
    select
        <include refid="Base_Column_List"></include>
    from video_picture
    <where>
    <if test="dto.videoId!='null' and dto.videoId!=''">
      and video_id=#{dto.videoId}
    </if>
    <if test="dto.name!='null' and dto.name!=''">
      and name=#{dto.name}
    </if>
    <if test="dto.url!='null' and dto.url!=''">
      and url=#{dto.url}
    </if>
    <if test="dto.thumbnailsUrl!='null' and dto.thumbnailsUrl!=''">
      and thumbnails_url=#{dto.thumbnailsUrl}
    </if>
    </where>
    order by
    create_time desc
    <if test="dto.startIdx != null and dto.pageSize != null">
      limit #{dto.startIdx}, #{dto.pageSize}
    </if>
  </select>


  <select id="count" parameterType="com.video.dto.business.VideoPictureDTO" resultType="java.lang.Integer">
    select
    count(*)
    from video_picture
    <where>
      <if test="dto.videoId!='null' and dto.videoId!=''">
        and video_id=#{dto.videoId}
      </if>
      <if test="dto.name!='null' and dto.name!=''">
        and name=#{dto.name}
      </if>
      <if test="dto.url!='null' and dto.url!=''">
        and url=#{dto.url}
      </if>
      <if test="dto.thumbnailsUrl!='null' and dto.thumbnailsUrl!=''">
        and thumbnails_url=#{dto.thumbnailsUrl}
      </if>
    </where>
    order by
    create_time desc
    <if test="dto.startIdx != null and dto.pageSize != null">
      limit #{dto.startIdx}, #{dto.pageSize}
    </if>
  </select>


  <delete id="delete">
    delete from video_picture where id=#{id}
  </delete>


  <delete id="deleteBatch">
    delete from video_picture
    <where>
    <foreach collection="ids" open="id in("  close=")" item="id" separator=",">
      #{id}
    </foreach>
    </where>
  </delete>


</mapper>